<html>
<head>
<title>Deliveries for {{ Job.name }}</title>
</head>

<body>
<a href="http://{{ config.BASEURL }}/logout">logout</a>
{% if User %}
 {% if User.hasPermission(3) %}
		 <br><a href="http://{{ config.BASEURL }}/mainPage">Main Page</a>
 {% endif %}
<h1><i>{{ Job.name }}</i></h1><br>
    <h1>Open Deliveries</i></h1><br>
	<ul>
		{% for shipment in OpenShipments %}
		<li>
		Delivery from {{ shipment.vendor.name }} expected {{ shipment.expectedDate }} 
		<br><i>{{ shipment.description }}</i>
		<form action="http://{{ config.BASEURL }}/editShipment" method="POST"> <input type="hidden" name="shipmentId" value="{{ shipment.id}}"/> <input type="submit" value="Edit"/>
			</form>
		</li>
		{% endfor %}
	</ul>
    <h1>Completed Deliveries</i></h1><br>
	<ul>
		{% for shipment in CompletedShipments %}
		<li>
		Delivery from {{ shipment.vendor.name }} arrived {{ shipment.arrivalDate }} 
		<br><i>{{ shipment.description }}</i>
		<form action="http://{{ config.BASEURL }}/editShipment" method="POST"> <input type="hidden" name="shipmentId" value="{{ shipment.id}}"/> <input type="submit" value="Edit"/>
			</form>
		</li>
		{% endfor %}
	</ul>
 {% if User.hasPermission(3) %}
<h1>New Delivery</h1>
     {% if Job.vendorList()|length > 0 %}
	{% for vendor in Job.vendorList() %}
	New Delivery for {{ vendor.name }} 
	<form action="http://{{ config.BASEURL }}/newShipment" method="POST">
		<input type="hidden" name="vendorId" value="{{ vendor.id}}"/>
		<input type="hidden" name="jobId" value="{{ Job.id}}"/>
		<input type="submit" value="Create"/>
	</form>
	{% endfor %}
     {% else %}
	Vendors are required for Deliveries<br>
	No Vendors exist for this Job.<br>
     {% endif %}
 {% elif User.hasPermission(4) %}
	<h1>New Delivery</h1>
	New Delivery <form action="http://{{ config.BASEURL }}/newShipment" method="POST">
		<input type="hidden" name="vendorId" value="{{ User.vendorId}}"/>
		<input type="hidden" name="jobId" value="{{ Job.id}}"/>
		<input type="submit" value="Create"/>
	</form>
 {% endif %}
{% endif %}
{% if User.permissionId < 4 %}
	<br><h1>Maps</h1>
	<form id="jobForm" action="http://{{ config.BASEURL }}/updateJob" method="POST">
		<input type="hidden" name="jobId" value="{{ Job.id }}"/><br>
	<ul>
	{% for Map in Job.maps %}
		{% if not Map.deleted %}
		<li>{{ Map.name }}
			<img src="{{ Map.image_url() }}" width="100"/>
			<input type="checkbox" id="mapId_{{ Map.id }}" name="mapId_{{ Map.id }}" value="{{ Map.id }}"/> Delete Map
		</li>
		{% endif %}
	{% endfor %}
	</ul>
      		<input type=submit value=Save>
    	</form>

	{% if User.hasPermission(3) %}
    	<h1>Upload new Map</h1>
    	<form id="jobMapForm" action="http://{{ config.BASEURL }}/upload/map" method="POST" enctype=multipart/form-data>
      		<input type=file name=file>
      		Name: <input type="text" name="mapName"/>
      		<input type=submit value=Upload>
    	</form>
	{% endif %}
{% endif %}

</body>
</html>
