<html>
<head>
<title>Shipments for {{ Job.name }}</title>
</head>

<body>
<a href="http://0.0.0.0:8888/logout">logout</a>
{% if User %}
 {% if User.hasPermission(2) %}
		 <br><a href="http://0.0.0.0:8888/mainPage">Main Page</a>
 {% endif %}
 {% if User.hasPermission(3) %}
    <h1>Shipments for Job <i>{{ Job.name }}</i></h1><br>
	<ul>
		{% for shipment in Shipments %}
		<li>
		Shipment from {{ shipment.vendor().name() }} expected {{ shipment.expectedDate }} 
		<br><i>{{ shipment.description }}</i>
		<form action="http://0.0.0.0:8888/editShipment" method="POST"> <input type="hidden" name="shipmentId" value="{{ shipment.id}}"/> <input type="submit" value="Edit"/>
			</form>
		</li>
		{% endfor %}
	</ul>
 {% endif %}
 {% if User.hasPermission(2) %}
<h1>New Shipment</h1>
     {% if Job.vendors()| length > 0 %}
	{% for vendor in Job.vendors() %}
	New Shipment for {{ vendor.name() }}
	<form action="http://0.0.0.0:8888/newShipment" method="POST">
		<input type="hidden" name="vendorId" value="{{ vendor.id}}"/>
		<input type="hidden" name="jobId" value="{{ Job.id}}"/>
		<input type="submit" value="Create"/>
	</form>
	{% endfor %}
     {% else %}
Vendors are required for Shipments<br>
No Vendors exist for this Job.<br>
You need to <a href="http://0.0.0.0:8888/newUser">Create a new Vendor</a> (a Vendor is a User)
     {% endif %}
 {% elif User.hasPermission(4) %}
	<h1>Shipments for Job <i>{{ Job.name }}</i></h1><br>
	<ul>
		{% for shipment in Shipments %}
		 {% if shipment.vendorId == User.id %}
		 <li>
		 Shipment expected {{ shipment.expectedDate }} 
		<br><i>{{ shipment.description }}</i>
			<form action="http://0.0.0.0:8888/editShipment" method="POST"> <input type="hidden" name="shipmentId" value="{{ shipment.id}}"/> <input type="submit" value="Edit"/>
			</form>
		 </li>
		 {% endif %}
		{% endfor %}
	</ul>
	<h1>New Shipment</h1>
	New Shipment <form action="http://0.0.0.0:8888/newShipment" method="POST">
		<input type="hidden" name="vendorId" value="{{ User.id}}"/>
		<input type="hidden" name="jobId" value="{{ Job.id}}"/>
		<input type="submit" value="Create"/>
	</form>
 {% endif %}
{% endif %}
</body>
</html>
