<html>
<head>
</head>
<title>CCorr Shipment Tracking Login</title>

<body>
<table>
<tr>
	<td colspan="2" align="center">
		<h1>Crown Corr Login</h1>
	</td>
</tr>
{% if warning %}
<tr>
	<td colspan="2">
		<h1 style="color:red;"">{{ warning }}</h1>
	</td>
</tr>
{% endif %}
<tr>
	<td width="50">
	</td>
	<td>
	<h1>Login</h1>
		<form action="http://0.0.0.0:8888/loginUser" method="POST">
			email : <input type="text" name="email" value=""/><br>
			password : <input type="password" name="password" value=""/><br>
			<input type="submit" value="Login"/>
		</form>
	</td>
</tr>
</table>
</body>
</html>
