<html>
<body>
      <h1>Welcome to the Crown Corr Delivery app</h1>
      <p>iPhone users: Open this email on your iPhone and follow these 3 steps:</p>
	<ol>
		<li><h2>Download</h2>Download the iPhone app by clicking the following URL: <MOBILEDOWNLOADURL></li>
		<li><h2>Allow</h2>After downloading the app, allow it to run by opening the Settings app.    Go to Settings->General->Device Management->Crown Corr Inc.   Click Trust "Crown Corr Inc" in order to allow the app to run.</li>
		<li><h2>Login</h2>After allowing the app to run, click the following link for your initial log in: ccorr://newUserReset?userId=<USEREMAIL>&temp=<PASSWORD></li>
	</ol>
</body>
</html>
