<html>
<head>
</head>

<body>
<a href="http://localhost:8888/logout">logout</a>
<br>
<a href="http://localhost:8888/mainPage">Main Page</a>
<br>
<h1 style="color:red;"">{{ warning }}</h1>
<br>
{% if User.hasPermission(1) %}
<h1>Create Job</h1>
	<form id="jobForm" action="http://localhost:8888/createJob" method="POST">
		Name: <input type="text" name="name" value=""/><br>
		Number: <input type="text" name="number" value=""/><br>
		Address: <textarea rows="4" cols="75" name="address" form="jobForm"></textarea><br>
		Instructions: <textarea rows="6" cols="75" name="instructions" form="jobForm"></textarea><br>
	</form>
<table>
<tr>
	<td></td>
	<td>
		<b>Fields to display for the Vendor</b><br>
		<input form="jobForm" type="checkbox" name="showDeliveryNumber"  checked />Delivery Number<br>
		<input form="jobForm" type="checkbox" name="showContactName"  checked />Contact Name<br>
		<input form="jobForm" type="checkbox" name="showContactNumber"  checked />Contact Number<br>
		<input form="jobForm" type="checkbox" name="showBOLNumber"  checked />BOL Number<br>
		<input form="jobForm" type="checkbox" name="showSpecialInstructions"  checked />Special Instructions<br>
		<input form="jobForm" type="checkbox" name="showDescriptionOfGoods"  checked />Description Of Goods<br>
		<input form="jobForm" type="checkbox" name="showTruckingCompany"  checked />Trucking Company<br>
	</td>
	<td>
		<input form="jobForm" type="checkbox" name="showNumberOfPackages"  checked />Number Of Packages<br>
		<input form="jobForm" type="checkbox" name="showTypeOfTruck"  checked />Type of Truck<br>
		<input form="vendorForm" type="checkbox" name="showDriverName" checked />Driver Name<br>
		<input form="vendorForm" type="checkbox" name="showDriverPhone" checked />Driver Phone<br>
		<input form="jobForm" type="checkbox" name="showTrackingNumber"  checked />Tracking Number<br>
		<input form="jobForm" type="checkbox" name="showWeightOfLoad"  checked />Weight of Load<br>
		<input form="jobForm" type="checkbox" name="showVendorNotes"  checked />Vendor Notes<br>
		<input form="jobForm" type="checkbox" name="showDeliveryDate"  checked />Delivery Date<br>
		<input form="jobForm" type="checkbox" name="showDateLoaded"  checked />Date Loaded<br>
	</td>
	<td valign="top">
		<b>Items to Attach for Vendor</b><br>
		<input form="jobForm" type="checkbox" name="attachBOL"  checked />BOL<br>
		<input form="jobForm" type="checkbox" name="attachPackingList"  checked />Packing List<br>
		<input form="jobForm" type="checkbox" name="attachPhotos"  checked />Photos<br>
		<input form="jobForm" type="checkbox" name="attachMap"  checked />Map<br>
	</td>
</tr>
<tr>
	<td>
	</td>
	<td>
		<br><input form="jobForm" type="submit" value="Create"/>
	</td>
	<td>
	</td>
</tr>
<table>
{% endif %}

</body>
</html>
