<html>
<head>
</head>

<body>
<a href="http://localhost:8888/logout">logout</a>
<br><form action="http://localhost:8888/selectJob" method="POST">
	<input type="hidden" name="jobId" value="{{ Job.id}}"/>
        <input type="submit" value="Back"/>
</form>
<h1>New Delivery</h1>
	<form action="http://localhost:8888/createShipment" method="POST">
		<input type="hidden" name="jobId" value="{{ Job.id}}"/>
		<input type="hidden" name="vendorId" value="{{ Vendor.id}}"/>
		Shipped Date: <select name="shipped_month">
					<option value="None">None</option>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">Jun</option>
					<option value="07">Jul</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select> /
				<select name="shipped_day">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select> /
				<select name="shipped_year">
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
				</select>
		Time: <select name="shipped_hour">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select> : 
				<select name="shipped_minute">
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>  
				<select name="shipped_meridian">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select></br>
		Expected Date: <select name="expected_month">
					<option value="None">None</option>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">Jun</option>
					<option value="07">Jul</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select> /
				<select name="expected_day">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select> /
				<select name="expected_year">
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
				</select>
		Time: <select name="expected_hour">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select> : 
				<select name="expected_minute">
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>  
				<select name="expected_meridian">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select></br>
		Arrived Date: <select name="arrival_month">
					<option value="None">None</option>
					<option value="01">Jan</option>
					<option value="02">Feb</option>
					<option value="03">Mar</option>
					<option value="04">Apr</option>
					<option value="05">May</option>
					<option value="06">Jun</option>
					<option value="07">Jul</option>
					<option value="08">Aug</option>
					<option value="09">Sep</option>
					<option value="10">Oct</option>
					<option value="11">Nov</option>
					<option value="12">Dec</option>
				</select> /
				<select name="arrival_day">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
					<option value="13">13</option>
					<option value="14">14</option>
					<option value="15">15</option>
					<option value="16">16</option>
					<option value="17">17</option>
					<option value="18">18</option>
					<option value="19">19</option>
					<option value="20">20</option>
					<option value="21">21</option>
					<option value="22">22</option>
					<option value="23">23</option>
					<option value="24">24</option>
					<option value="25">25</option>
					<option value="26">26</option>
					<option value="27">27</option>
					<option value="28">28</option>
					<option value="29">29</option>
					<option value="30">30</option>
					<option value="31">31</option>
				</select> /
				<select name="arrival_year">
					<option value="2017">2017</option>
					<option value="2018">2018</option>
					<option value="2019">2019</option>
					<option value="2020">2020</option>
				</select>
		Time: <select name="arrival_hour">
					<option value="01">1</option>
					<option value="02">2</option>
					<option value="03">3</option>
					<option value="04">4</option>
					<option value="05">5</option>
					<option value="06">6</option>
					<option value="07">7</option>
					<option value="08">8</option>
					<option value="09">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select> : 
				<select name="arrival_minute">
					<option value="00">00</option>
					<option value="15">15</option>
					<option value="30">30</option>
					<option value="45">45</option>
				</select>  
				<select name="arrival_meridian">
					<option value="AM">AM</option>
					<option value="PM">PM</option>
				</select></br>
{% if Job.showDescriptionOfGoods %}
Description: <input type="text" name="description" value="{% if Shipment.description %}{{ Shipment.description }}{% endif %}"/><br>
{% endif %}
{% if Job.showContactName %}
ADD CONTACT NAME<br>
{% endif %}
{% if Job.showContactNumber %}
ADD CONTACT NUMBER<br>
{% endif %}
{% if Job.showDeliveryNumber %}
Delivery Number : <input type="text" name="deliveryNumber" value="{% if Shipment.deliveryNumber %}{{ Shipment.deliveryNumber }}{% endif %}"/><br>
{% endif %}
{% if Job.showBOLNumber %}
BOL Number : <input type="text" name="bolNumber" value="{% if Shipment.bolNumber %}{{ Shipment.bolNumber }}{% endif %}"/><br>
{% endif %}
{% if Job.showNumberOfPackages %}
Number of Packages : <input type="text" name="numberOfPackages" value="{% if Shipment.numberOfPackages %}{{ Shipment.numberOfPackages }}{% endif %}"/><br>
{% endif %}
{% if Job.showTypeOfTruck %}
Type of Truck : <input type="text" name="truckType" value="{% if Shipment.truckType %}{{ Shipment.truckType }}{% endif %}"/><br>
{% endif %}
{% if Job.showWeightOfLoad %}
Weight of Load : <input type="text" name="weight" value="{% if Shipment.weight %}{{ Shipment.weight }}{% endif %}"/><br>
{% endif %}
{% if Job.showTruckingCompany %}
Trucking Company : <input type="text" name="truckingCompany" value="{% if Shipment.specialInstructions %}{{ Shipment.truckingCompany }}{% endif %}"/><br>
{% endif %}
{% if Job.showSpecialInstructions %}
Instructions : <input type="text" name="specialInstructions" value="{% if Shipment.specialInstructions %}{{ Shipment.specialInstructions }}{% endif %}"/><br>
{% endif %}
{% if Job.showTrackingNumber %}
Tracking Number : <input type="text" name="trackingNumber" value="{% if Shipment.trackingNumber %}{{ Shipment.trackingNumber }}{% endif %}"/><br>
{% endif %}
{% if Job.showVendorNotes %}
Notes : <input type="text" name="vendorNotes" value="{% if Shipment.vendorNotes %}{{ Shipment.vendorNotes }}{% endif %}"/><br>
{% endif %}

		<input type="submit" value="Save"/>
	</form>
	<form action="http://localhost:8888/cancelEditShipment" method="POST">
		<input type="submit" value="Cancel"/>
	</form>
</body>
</html>
