<html>
<head>
<title>Project Manager Main Page</title>
</head>

<body>
<a href="http://localhost:8888/logout">logout</a>
{% if User %}
<table>
<tr>
        {% if User.hasPermission(1) %}
		<th width="30"></th>
		<th width="150" bgcolor="cyan">Set Up Job</th>
        {% endif %}
        {% if User.hasPermission(2) %}
		<th width="30"></th>
		<th width="150" bgcolor="cyan">Vendor Management</th>
        {% endif %}
        {% if User.hasPermission(3) %}
		<th width="30"></th>
		<th width="150" bgcolor="cyan">Active Jobs</th>
		<th width="30"></th>
		<th width="150" bgcolor="cyan">Closed Jobs</th>
        {% endif %}
        {% if User.hasPermission(2) %}
		<th width="30"></th>
		<th width="150" bgcolor="cyan">User Management</th>
        {% endif %}
</tr>
<tr>
        {% if User.hasPermission(1) %}
		<td width="30"></td>
		<td valign="top" align="center">
                	<br><a href="http://localhost:8888/newJob">New Job</a>
		</td>
        {% endif %}
        {% if User.hasPermission(2) %}
		<td width="30"></td>
		<td valign="top" align="center">
                	<br><a href="http://localhost:8888/newVendor">New Vendor</a>
			<br>
                	<br><a href="http://localhost:8888/listVendors">List Vendors</a>
		</td>
        {% endif %}
        {% if User.hasPermission(3) %}
		<td width="30"></td>
		<td align="center">
		{% for Job in Jobs %}
                	<a href="http://localhost:8888/selectJob?jobId={{ Job.id }}">{{ Job.name }}</a>
			<br>
		{% endfor %}
		</td>
		<td width="30"></td>
		<td>
		</td>
        {% endif %}
        {% if User.hasPermission(2) %}
		<td width="30"></td>
		<td valign="top" align="center">
                	<br><a href="http://localhost:8888/newUser">New User</a>
		</td>
        {% endif %}
</tr>
</table>
{% else %}
	<h1>No Permission</h1>
{% endif %}
</body>
</html>
